@import "tailwindcss";

@theme {
  --color-primary: #026bff;
  --color-secondary: #cae6fe;
  --color-background: #edf3fa;
  --color-background2: #dadbdb;
  --color-prime-gray: #a6b2bd;
  --color-light-gray: #cbd3db;

  --breakpoint-2xl: 110rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #cbd3db; */
}

/* Custom scrollbar styles */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db white;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: white;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
}

.scrollbar-track-white::-webkit-scrollbar-track {
  background: white;
}
