@import "tailwindcss";

@theme {
  --color-prime: #026bff;
  --color-sub: #8ebaf7;
  --color-background: #edf3fa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility text-prime {
  color: var(--color-prime);
}

@utility text-sub {
  color: var(--color-sub);
}

@utility bg-prime {
  background-color: var(--color-prime);
}

@utility bg-sub {
  background-color: var(--color-sub);
}

@utility bg-background {
  background-color: var(--color-background);
}
