@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --color-prime: #026bff;
    --color-sub: #8ebaf7;
    --color-background: #deecff;
  }
}

@layer utilities {
  .text-prime {
    color: var(--color-prime);
  }

  .text-sub {
    color: var(--color-sub);
  }

  .bg-prime {
    background-color: var(--color-prime);
  }

  .bg-sub {
    background-color: var(--color-sub);
  }

  .bg-background {
    background-color: var(--color-background);
  }
}
