@import "tailwindcss";

@theme {
  --color-primary: #026bff;
  --color-secondary: #cae6fe;
  --color-background: #edf3fa;
  --color-prime-gray: #a6b2bd;
  --color-light-gray: #cbd3db;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #cbd3db; */
}
